body {
  font-family: Arial, sans-serif;
  width: 350px;
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.instructions {
  margin-bottom: 20px;
}
.footer-note {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}